aiohttp
boto3
fiona
flask
flask-cors
flasgger
geopandas
gunicorn
httpx
mcp[cli]
nbformat
neo4j
openai
opensearch-py
pytest
python-dotenv
rasterio
requests
sentence-transformers
shapely
smolagents
spacy
torch
transformers
langchain-core
